<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Dashboard
            </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="chart-wrapper">
                <h3>Tickets por día</h3>
                <canvas id="dayChart"></canvas>
            </div>
            <div class="chart-wrapper">
                <h3>Tickets por semana</h3>
                <canvas id="weekChart"></canvas>
            </div>
            <div class="chart-wrapper">
                <h3>Tickets por mes</h3>
                <canvas id="monthChart"></canvas>
            </div>
            <div class="chart-wrapper">
                <h3>Servicios más demandados</h3>
                <canvas id="serviciosChart"></canvas>
            </div>
            <div class="chart-wrapper">
                <h3>Clientes frecuentes</h3>
                <canvas id="clientesChart"></canvas>
            </div>
            <div class="chart-wrapper">
                <h3>Técnicos más destacados</h3>
                <canvas id="tecnicosChart"></canvas>
            </div>
        </mat-card-content>
    </mat-card>
</div>
