<mat-toolbar class="custom-primary">
    <button mat-button (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="flex:auto">Admin Dashboard</span>
    <button mat-button routerLink="/admin/home" *ngIf="authService.roles.includes('ADMIN')">Home</button>
    <button mat-button routerLink="/admin/profile" *ngIf="authService.roles.includes('ADMIN')">Perfil</button>

    <button  mat-button [matMenuTriggerFor]="importMenu" *ngIf="authService.roles.includes('ADMIN')">
        <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
        Importar
    </button>

    <mat-menu #importMenu>
        <button mat-menu-item routerLink="/admin/loadTecnicos">
            Cargar Tecnicos
        </button>
        <button mat-menu-item routerLink="/admin/loadServicios">
            Cargar Servicios
        </button>
        <button mat-menu-item routerLink="/admin/loadTickets">
            Cargar Tickets
        </button>
        <button mat-menu-item routerLink="/admin/loadClientes">
            Cargar Clientes
        </button>
    </mat-menu>

    <button mat-button *ngIf="authService.isAuthenticated">
        {{ authService.username }}
        <span *ngIf="authService.codigoTecnico">({{ authService.codigoTecnico }})</span>
    </button>

    <button mat-raised-button class="custom-accent" (click)="logout()">Salir</button>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #myDrawer opened="true" mode="side" position="start">
    <mat-list>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
            <button mat-button routerLink="/admin/dashboard">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('TECNICO')">
            <button mat-button routerLink="/admin/dashboard-tecnico">
                <mat-icon>dashboard</mat-icon>
                Dashboard Tecnico
            </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
             <button mat-button routerLink="/admin/tecnicos">
                <mat-icon>Dasboard</mat-icon>
                Tecnicos
             </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
             <button mat-button routerLink="/admin/loadServicios">
                <mat-icon>Dasboard</mat-icon>
                Servicios
             </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
             <button mat-button routerLink="/admin/tickets">
                <mat-icon>Dasboard</mat-icon>
                Tickets
             </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
             <button mat-button routerLink="/admin/clientes">
                <mat-icon>Dasboard</mat-icon>
                Clientes
             </button>
        </mat-list-item>
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
             <button mat-button routerLink="/admin/cotizaciones">
                <mat-icon>description</mat-icon>
                Cotizaciones
             </button>
        </mat-list-item>
    </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <app-greeting></app-greeting>
        <div class="div" style="min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
