/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    padding: 10px;
}

/* Utility classes */
.w-100,
.full-width {
    width: 100%;
}

/* Generic card layout for forms */
.form-card {
    max-width: 600px;
    margin: 0 auto;
}
