<div class="container">
  <mat-card [formGroup]="servicioForm" class="servicio-form">
    <mat-card-header>
      <mat-card-title>Registrar Servicio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="guardarServicio()">Guardar Servicio</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
